<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tienda/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/cupon.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/footer.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="logo">
          <img src="{% static 'tienda/images/logo.png' %}" alt="Logo" />
        </div>
        <div class="nav">
          <a href="{% url 'home' %}" >Inicio</a>
          <a href="{% url 'libros' %}" >Libros</a>
          <a href="{% url 'autores' %}">Autores</a>
          <a href="{% url 'cupones' %}" class="selected">Descuentos</a>
        </div>
        <div class="search-container">
          <input type="text" placeholder="Buscar..." />
          <button><i class="fas fa-search"></i></button>
        </div>
        <div class="icons">
          <i class="fas fa-user"></i>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </header> 
    <main>
      <section class="cupones">
        <div class="cupones-list">
            {% if cupones %}
                {% for cupon in cupones %}
                <div class="cupon">
                    <div class="cupon-inner">
                        <div class="cupon-front">
                            <h2>{{ cupon.cuponCode }}</h2>
                        </div>
                        <div class="cupon-back">
                            <h2>{{ cupon.procentajeDescuento }}% de Descuento</h2>
                           <!-- > <p class="exp-date">Expira el: {{ cupon.endDate}}</p>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No hay cupones disponibles.</p>
            {% endif %}
        </div>
    </section>
    
    <section class="crear-cupon hidden" id="crearCuponFormContainer">
      <div class="form-container">
          <h2>Agregar Nuevo Cupón</h2>
          <form id="crearCuponForm" method="post" action="{% url 'cupones' %}">
              {% csrf_token %}
              <label for="cuponCode">Código del Cupón:</label>
              <input type="text" id="cuponCode" name="cuponCode" required />
              
              <label for="porcentajeDescuento">Porcentaje de Descuento:</label>
              <input type="number" id="porcentajeDescuento" name="porcentajeDescuento" required />
              
              <label for="descuentoMinimo">Descuento Mínimo:</label>
              <input type="number" id="descuentoMinimo" name="descuentoMinimo" required />
  
              <label for="startDate">Fecha de Inicio:</label>
              <input type="datetime-local" id="startDate" name="startDate" required />
  
              <label for="endDate">Fecha Límite:</label>
              <input type="datetime-local" id="endDate" name="endDate" required />
  
              <button type="submit">Agregar Cupón</button>
          </form>
      </div>
  </section>
      <div class="button-container">
          <button id="toggle-form">Agregar Cupón</button>
      </div>
      <footer class="footer">
        <div class="footer-container">
            <div class="footer-section about">
                <h3>Sobre Nosotros</h3>
                <p>Somos una librería dedicada a ofrecer una amplia variedad de libros para todos los gustos y edades. Nuestro objetivo es fomentar la lectura y el conocimiento.</p>
            </div>
            <div class="footer-section links">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Libros</a></li>
                    <li><a href="#">Autores</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h3>Contacto</h3>
                <p>Email: contacto@libreria.com</p>
                <p>Teléfono: +123 456 7890</p>
                <p>Dirección: Calle de la Lectura, 123, Ciudad, País</p>
            </div>
            <div class="footer-section social">
                <h3>Síguenos</h3>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Librería. Todos los derechos reservados.</p>
        </div>
    </footer>
  </main>
    <script src="{% static 'tienda/js/cupon.js' %}"></script>
  </body>
</html>
