.libros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
}

.libros h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
}

.libro {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.libro:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.libro-cover {
    background: #333;
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.libro-info {
    padding: 20px;
   
    transition: background 0.3s ease-in-out;
}

.libro:hover .libro-info {
    background: #e3e3e3;
}

.libro h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.libro p {
    font-size: 1em;
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
}

.highlight {
    font-weight: bold;
    color: #007BFF;
}

.form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    margin-top: 0;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}

.form-container select,
.form-container button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container button {
    display: block;
    width: 400px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container > * {
    margin-bottom: 20px;
}

.form-container > *:last-child {
    margin-bottom: 0;
}

.crear-libro {
    display: none; /* Ocultar el formulario por defecto */
}

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container .cancelar {
    background-color: red;
}



a.libro-link {
    color: inherit !important;  /* Hereda el color del elemento padre */
    text-decoration: none !important; /* Elimina la línea subrayada */
}

/* Opcional: Puedes agregar estilos adicionales para el hover */
a.libro-link:hover {
    color: inherit !important; /* Hereda el color del elemento padre */
    text-decoration: none !important; /* Mantiene la línea subrayada eliminada */
}